#primary {
  padding-block: 2rem;

  div {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3) {
    justify-self: end;
  }
}

#secondary {
  padding-block: 1.4rem;
  border-inline: none;
  border: 1px solid var(--stroke-color);
  justify-content: space-between;
}

@media (width <= 80em) {
  #primary {
    display: grid;

    & strong {
      display: none;
    }
  }

  #secondary {
    display: grid;
    overflow-x: scroll;
    gap: 1.2rem;
  }
}