.grid {
  display: grid;
}

.grid-flow-column {
  grid-auto-flow: column;
}

.grid-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gap-16 {
  gap: 1.6rem;
}

.gap-32 {
  gap: 3.2rem;
}

.text-2xl {
  font: var(--heading-lg);
}

.text-xl {
  font: var(--heading-md);
}

.text-lg {
  font: var(--heading-sm);
}

.text-sm {
  font: var(--text-sm);
}